* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}


/* Cabeçalho */

header {
    background-color: #1f4e79;
    color: white;
    padding: 25px;
    text-align: center;
}


/* Menu */

nav {
    background-color: #163a5c;
    padding: 15px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}


nav li {
    color: white;
    cursor: pointer;
}


/* Área principal */

main {
    padding: 30px;
}


h2 {
    margin-bottom: 20px;
}


/* Cards */

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background-color: white;
    width: 220px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.card h3 {
    margin-bottom: 15px;
}